<h1 class="highlight">II.<span class="titletab"></span> Analyze of marketing’s impact on individual and collective psychology with Bernard Stiegler’s work</h1>
<ul class='structure panel'><li class='deep-1'><a href='#2-1' class='deep-1'>
  <span class='rank'>2.1</span><span class='title'>Foundation of Bernard Stiegler’s work: Indetermination of technique, pharmacology and organology</span>
</a></li><li class='deep-1'><a href='#2-2' class='deep-1'>
  <span class='rank'>2.2</span><span class='title'>Behavior sciences and marketing co-developments: the rush for motivation and the consumerist era</span>
</a><ul><li class='deep-2'><a href='#2-2-1' class='deep-2'>
  <span class='rank'>2.2.1</span><span class='title'>Freud’s core concept: the libidinal economy</span>
</a></li><li class='deep-2'><a href='#2-2-2' class='deep-2'>
  <span class='rank'>2.2.2</span><span class='title'>Freud’s American nephew: Edward Bernays</span>
</a><ul><li class='deep-3'><a href='#2-2-2-1' class='deep-3'>
  <span class='rank'>2.2.2.1</span><span class='title'>The birth of Public Relations</span>
</a></li><li class='deep-3'><a href='#2-2-2-2' class='deep-3'>
  <span class='rank'>2.2.2.2</span><span class='title'> “Without mind control to minimize cleavages, democracy would be chaos”</span>
</a></li></ul></li><li class='deep-2'><a href='#2-2-3' class='deep-2'>
  <span class='rank'>2.2.3</span><span class='title'>From a scientific approach of propaganda to the birth of modern marketing: the science of motivation</span>
</a></li><li class='deep-2'><a href='#2-2-4' class='deep-2'>
  <span class='rank'>2.2.4</span><span class='title'>Problems inherent to marketing’s scientific approach of its influence on behaviors: playing with the system limits</span>
</a></li><li class='deep-2'><a href='#2-2-5' class='deep-2'>
  <span class='rank'>2.2.5</span><span class='title'>The Birth of Consumer Behavior and consumerism</span>
</a><ul><li class='deep-3'><a href='#2-2-5-1' class='deep-3'>
  <span class='rank'>2.2.5.1</span><span class='title'>From Consumerism to mass consumerism</span>
</a></li></ul></li></ul></li><li class='deep-1'><a href='#2-3' class='deep-1'>
  <span class='rank'>2.3</span><span class='title'>The use of psycho-technologies by marketing as the continuation of biopower by psychopower</span>
</a><ul><li class='deep-2'><a href='#2-3-1' class='deep-2'>
  <span class='rank'>2.3.1</span><span class='title'>The Simondonian psychic apparatus genesis: psychic and collective individuation</span>
</a></li><li class='deep-2'><a href='#2-3-2' class='deep-2'>
  <span class='rank'>2.3.2</span><span class='title'>Powers upon individuals</span>
</a><ul><li class='deep-3'><a href='#2-3-2-1' class='deep-3'>
  <span class='rank'>2.3.2.1</span><span class='title'>Biopower and psychopower</span>
</a></li><li class='deep-3'><a href='#2-3-2-2' class='deep-3'>
  <span class='rank'>2.3.2.2</span><span class='title'>Neuropower</span>
</a></li></ul></li><li class='deep-2'><a href='#2-3-3' class='deep-2'>
  <span class='rank'>2.3.3</span><span class='title'>Esprit capacities and psychotechniques</span>
</a><ul><li class='deep-3'><a href='#2-3-3-1' class='deep-3'>
  <span class='rank'>2.3.3.1</span><span class='title'>Memory and attention</span>
</a></li><li class='deep-3'><a href='#2-3-3-2' class='deep-3'>
  <span class='rank'>2.3.3.2</span><span class='title'>Psychotechnology</span>
</a></li></ul></li><li class='deep-2'><a href='#2-3-4' class='deep-2'>
  <span class='rank'>2.3.4</span><span class='title'>Formation and capture of attention and the capacity of care</span>
</a></li></ul></li><li class='deep-1'><a href='#2-4' class='deep-1'>
  <span class='rank'>2.4</span><span class='title'>How marketing use of psychopower plays with system limits toward attention capture and motivation canalization, producing the destruction of the capacity of care and of desire</span>
</a><ul><li class='deep-2'><a href='#2-4-1' class='deep-2'>
  <span class='rank'>2.4.1</span><span class='title'>Consumerism as the opposite of the care</span>
</a></li><li class='deep-2'><a href='#2-4-2' class='deep-2'>
  <span class='rank'>2.4.2</span><span class='title'>Marketing use of psychotechnologies through the highly strategic cultural and program industries</span>
</a></li><li class='deep-2'><a href='#2-4-3' class='deep-2'>
  <span class='rank'>2.4.3</span><span class='title'>Marketing versus the intergenerational transmission of savoir and the constitution of a Super-Ego</span>
</a></li><li class='deep-2'><a href='#2-4-4' class='deep-2'>
  <span class='rank'>2.4.4</span><span class='title'>Esprit resources shortage</span>
</a></li><li class='deep-2'><a href='#2-4-5' class='deep-2'>
  <span class='rank'>2.4.5</span><span class='title'>Trans-individuation short-circuit, disaffected individuals, symbolic misery</span>
</a></li></ul></li></ul>