<hr>
<div class="panel"><p><a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" border="0" alt="Creative Commons License" /></a><br />This work is published under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Quoted text couldn't be affected by this license.</p></div>
<hr>