.posts-child, .articles-child, .paper-ethical-marketing-child {
  h1, .highlight{
    color: #fff;
    background-color: rgba(20,20,20,0.4);
    padding: 3px;
    @include radius;
  }
  .credits{
    text-align: center;
    margin: 0;
    font-size: 0.7em;
    opacity: 0.8;
  }

  @import 'legacy';
}

@import 'p2p-rm';
@import 'paper-ethical-marketing';
@import 'wikidata-and-the-apt-get-of-things';
