img{
  max-width: 100%;
}
.cover, .video{
  max-width: 40em;
}
iframe.video{
  width: 100%;
  min-height: 25em;
  max-height: 40em;
}
/*Small screens*/
@media screen and (max-width: $smallscreen) {
  .cover, iframe.video{
    max-width: 95vw;
    max-height: 60vw;
    // height: auto;
  }
}