// main.scss

$linkcolor: #ED6913;
$menulinkcolor: #369100;
$menubg: #D0D0D0;
$datecolor: #222;

$smallwidth:  900px;
$smallheight: 580px;
$xlargewidth: 1400px;

$verticalmenuwidth: 270px;
$horizontalmenuheight: 354px;
$layoutsidemarginlarge: 50px;
$layoutsidemarginsmall: 15px;

a:not(.tag-link){
  color: $linkcolor;
  &:hover{
    color: lighten($linkcolor, 15%);
  }
}

.date{
  color: $datecolor;
  text-align: center;
}

.legend{
  font-size: 0.8em;
  margin-left: 3em;
  background-position: #ccc;
}

.quote {
  font-family: "Times New Roman", Times, serif;
  font-weight:300;
  color: #171717;
  background-color: rgb(241,241,241);
  padding: 1em;
  margin-left: 1.5em;
  .fa {
    font-size: 1.8em;
    color: #aaa;
    margin: 0.2em 0.6em 0.2em 0.6em;
  }
}

.lang{
  font-family: "Times New Roman", Times, serif;
}

#about{
  padding-bottom: 2em;
}

// articles.scss
$linkcolor: #ED6913;

.item{
  .fa-link{
    font-size: 1.6em;
    margin-left: 0.3em;
    color: rgba($linkcolor, 0.5);
    &:hover{
      color: rgba($linkcolor, 1);
    }
  }
  h3{
    display: inline;
  }
}

// paperethicalmarketing.scss
.titletab{
  margin-left: 0.6em;
}
