#articles, #posts, .tags{
  margin: 0 auto;
  background-color: #eee;
  @include radius;
  margin-top: 1em;
  margin-bottom: 1em;
  > .title{
    margin: 0;
  }
  .legend{
    margin: 0;
    font-size: 0.7em;
    opacity: 0.6;
  }
  .more{
    padding: 0.6em;
    text-align: right;
    @include shy(0.8);
    font-size: 0.8;
    a{
      background-color: #ddd;
      @include radius;
      padding: 0.2em;
      color: $dark-grey;
      text-decoration: none;
    }
    .fa{
      margin-right: 0.3em;
    }
  }
  @import 'preview';
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
   width: 100%;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 0.5em;
    width: 30em;
  }
}

#posts{
  max-height: 350em;
  overflow: auto;
}