nav{
  @include display-flex(row, center, flex-start, wrap);
  text-align: left;
  margin-bottom: 1.5em;
  a{
    @include shy(0.4);
    color: grey;
  }
  #home{
    font-weight: bold;
  }
  .fa{
    font-size: 2.5em;
  }
  .fa-angle-right{
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    font-size: 200%;
  }
}
