#paper-ethical-marketing, .paper-ethical-marketing-child{
  .structure{
    a{
      @include display-flex(row);
    }
  }
  li.deep-1:not(:last-child){
    margin-bottom: 1.6em;
  }
  a.deep-1{
    font-weight: bold;
  }
  .rank{
    @include flex(0, 0, 80px)
  }
}