$previewMaxWidth: 30em;
$previewHeaderColor: white;
$previewHeaderBg: #444;

li{
  margin: 0 auto;
  &:hover{
    .preview-cover{
      @include transition(box-shadow);
      @include inner-shadow;
    }
    .preview-header{
      @include transition(background-color);
      background-color: darken($previewHeaderBg, 10%);
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    margin-bottom: 2em;
    max-width: 100%;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    margin-bottom: 1em;
    max-width: $previewMaxWidth;
  }
}

.preview-cover{
  @include radius-top;
  margin-top: 0.5em;
  background-size: cover;
  background-position: center center;
  @include display-flex(column, center, center);
  height: 15em;
  // width: $previewMaxWidth;
  // margin: 0 auto;
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    // height: 40em;
  }
}

.preview-header{
  @include radius-bottom;
  // padding: 0 0.5em 0 0.5em;
  color: $previewHeaderColor;
  background-color: $previewHeaderBg;
  position: relative;
  .core{
    padding: 0.6em 1em 0.4em 1em;
  }
  .title{
    font-size: 1.4em;
    // prevent the title from messing with the date
    margin: 0 auto;
    /*Small screens*/
    @media screen and (max-width: $smallscreen) {
      max-width: 100%;
    }
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      max-width: 19em;
    }
  }
  .subtitle{
    font-weight: bold;
    font-size: 0.8em;
    max-width: 50%;
    color: darken($previewHeaderColor, 30%);
  }
  .description{
    font-size: 0.8em;
    color: darken($previewHeaderColor, 50%);
  }
  .details{
    max-width: 100%;
    @include display-flex(row, baseline, space-between);
    font-size: 0.7em;
    color: rgba(white, 0.5);
  }
  .preview-tags{
    margin-left: 0.4em;
    text-align: left;
  }
  .date{
    margin-left: auto;
    @include flex(0, 0);
    padding-right: 0.4em;
  }
}
