#tags{
  margin-top: 1em;
  margin-bottom: 1em;
}
li.tag-li{
  @include bg-hover($light-blue);
  @include radius(5px);
  margin: 0.4em;
  padding: 0.1em 0.1em 0.2em 0;
}
a.tag-link{
  padding: 0.2em 0.5em 0.3em 0.5em;
  color: white;
  .count{
    font-size: 0.8em;
    opacity: 0.8;
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #tags{
    ul{
      @include display-flex(row, center, center, wrap);
      li{
        margin: 0.2em;
        // padding: 0.2em;
        a{
          font-size: 1rem;
        }
      }
    }
  }
}
/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #tags{
    ul{
      @include display-flex(row, center, center, wrap);
      max-width: $footerMaxWidth;
      margin: 0 auto;
    }
  }
  #tags{
    li{
      // padding: 0.5em;
    }
  }
  a.tag-link{
    margin-right: 0.2em;
  }
}

main.tags{
  .tag-context{
    .cover{
      max-width: 100%;
    }
  }
}

@import 'tags_line';