.tags-line{
  @include display-flex(row, center, flex-start, wrap);
  label{
    margin-right: 0.5em;
  }
  ul{
    @include display-flex(row, center, flex-start, wrap);
    li{
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    font-size: 2em;
    label{
      margin-bottom: 1em;
    }
    li{
      padding-bottom: 1em;
    }
  }
}
