@import 'fonts';
@import 'colors';
@import 'mixins';

$smallscreen: 1024px;

body{
  text-align: center;
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
}
main{
  margin: 0 auto;
  max-width: 40em;
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    max-width: 100vw;
  }
}

#pic{
  margin: 0 auto;
  border-radius: 50em;
  padding: 5px;
  @include shadow-box;
}

// RESET
body{
  ul, ul li, ul li ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    margin: 0;
  }
  p{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
  }
  a{
    outline: 0;
    text-decoration: none;
  }
}

small{
  @include shy(0.7);
}

hr{
  opacity: 0.3;
}

.creative-commons{
  @include display-flex(row, center, center);
  img{
    padding: 1em;
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include flex-direction(column);
  }
}

.back-home{
  // margin: 0 auto;
  text-align: center;
  .fa{
    font-size: 1em;
    padding-right: 1em;
  }
}

blockquote{
  padding: 0px 15px;
  color: #777;
  border-left: 4px solid #DDD;
}

#about{
  h1{
    color: #444;
  }
}


/*Small screens*/
@media screen and (max-width: $smallscreen) {
  main{
    max-width: 100vw;
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  body{
    // /!\ SIZES EVERYTHING
    font-size: 120%;
  }
}

@import 'cover_video';
@import 'nav';
@import 'item';
@import 'lists';
@import 'articles';
@import 'footer';
@import 'tags';
@import 'panel';
@import 'code';
@import 'graph';
